{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<header>
    <div class="pagetitle"><span class="pagetitletext">Library</span></div>
</header>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Symbol</td>
                <td>Name</td>
                <td>Shares</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            {% for stocks in stocks %}
            <tr>
            <td>{{ stocks.symbol }}</td>
            <td>{{ stocks.name }}</td>
            <td>{{ stocks.shares }}</td>
            <td>{{ stocks.price }}</td>
            <td>{{ stocks.total }}</td>
            </tr>
            {% endfor %}
            <tr>
            <td colspan="4">Cash</td>
            <td>{{ cashBalance }}</td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="4"></td>
            <td><strong>{{ grandTotal }}</strong></td>
        </tfoot>
    </table>
{% endblock %}
